<h1>ecran1 works!</h1>

<kal-button kalTheme="primary" (click)="stack1()">Stack ecran 1</kal-button>
<kal-button kalTheme="primary" (click)="stack2()">Stack ecran 2</kal-button>
<kal-button kalTheme="primary" (click)="stack3()">Stack ecran 3</kal-button>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cupiditate delectus deleniti eum facilis hic nulla
  quisquam suscipit tenetur, vitae! Accusamus aut corporis dolore eius id, iure non nostrum sed?</p>

<p>Ad consequuntur
  fugiat molestias. Aliquam aliquid assumenda consectetur culpa cupiditate debitis, deleniti dolores expedita incidunt
  laudantium natus, nemo nobis officia pariatur perferendis praesentium quae quam quisquam quod reiciendis similique
  tempora.</p>

<p>Adipisci animi aperiam beatae commodi consequuntur delectus deleniti dolore eaque exercitationem
  explicabo impedit labore libero neque nesciunt quam quo sunt tempora, tempore voluptatibus voluptatum. A eveniet
  impedit nemo qui quibusdam.</p>

<p>Aliquid, aut facere itaque iure minima modi porro, qui quidem, quis sed vel
  veritatis. Aspernatur blanditiis corporis dolor, dolorem dolorum, eius, eum impedit in laboriosam minus nesciunt
  repudiandae veniam voluptatem?</p>


